[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}

[dev-packages]

[requires]
python_version = "3.8"
